@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    background-color: #0f1019;
    overflow: hidden;
}

button {
    background-color: #1118;

    border: 1px solid #fff1;
    border-radius: 8px;
    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;
    color: white;
    font-family: Cabin;
    font-size: 18px;

    transition: background-color 0.15s, transform 0.08s;
    box-shadow: 0 4px 12px 0 #0005;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
button:enabled:hover {
    background-color: #2228;
}
button:enabled:active {
    background-color: #3338;
    transform: scale(0.9);
}
*:focus-visible {
    outline: 2px solid #00aaff;
}
button:disabled {
    opacity: 0.5;
}

input[type="email"],
input[type="text"],
input[type="password"] {
    border: none;
    border: 1px solid #fff1;
    color: white;
    font-family: Cabin;
    font-size: 18px;
    padding: 6px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: #1118;
    border-radius: 4px;
    box-shadow: 0 4px 12px 0 #0005;
}

input[type="email"]:disabled,
input[type="text"]:disabled,
input[type="password"]:disabled {
    opacity: 0.5;
}
