@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    background-color: #0f1019;
    overflow: hidden;
}

.waveroom_panel {
    background-color: #1118;
    border-radius: 8px;
    backdrop-filter: blur(20px) saturate(175%);
    border: 1px solid #fff1;
    box-shadow: 0 8px 24px 0 #0008;
    font-family: Cabin;
    font-size: 18px;
    color: white;
}

*:focus-visible {
    outline: 2px solid #00aaff;
}
